foai-capstone-fixed-webhook_scaler.json
{
  "name": "foai-capstone-fixed-webhook_scaler",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intake classifier agent for Scaler School of Technology's \nstudent support system.\nYour job is to classify the student's message by topic and urgency.\n\nContext about Scaler School of Technology:\n- Technology college with BS in Technology program\n- Common student issues: attendance, assignments, fees, placements, \n  technical problems, schedule queries, NSAT admissions\n- Departments: Academics, Admissions, Finance, Student Affairs, Technical\n\nReturn ONLY a valid JSON object:\n{\n  \"topic\": one of [\"academics\", \"admissions\", \"fees\", \"technical\", \"general\"],\n  \"urgency\": number 1 to 5,\n  \"summary\": one sentence summary of the issue\n}\n\nTopic guidelines:\n- academics: assignments, attendance, grades, courses, instructors, schedule\n- admissions: NSAT, enrollment, documents, joining process\n- fees: payment, refund, scholarship, fee structure\n- technical: platform issues, login problems, app crashes, portal errors\n- general: campus life, events, placements, general queries\n\nUrgency rules:\n- 1-2: general question, low priority\n- 3: normal issue needing resolution\n- 4-5: angry student, urgent deadline, financial issue, exam problem\n\nStudent message: {{ $json.message }}\nRespond ONLY with valid JSON. No extra text, no markdown.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1040,
        -416
      ],
      "id": "f5c4c7e7-1abe-41c8-9137-33912a0d6661",
      "name": "Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a sentiment analyzer agent for Scaler School of Technology's \nstudent support system.\nYour job is to detect the emotional tone of the student message.\n\nContext: Students may be stressed about assignments, attendance, \nfees, placements, or technical issues. Be sensitive to academic stress.\n\nReturn ONLY a valid JSON object:\n{\n  \"sentiment\": one of [\"positive\", \"neutral\", \"negative\"],\n  \"mood\": one of [\"casual\", \"neutral\", \"angry\"],\n  \"score\": float from 0.0 (very negative) to 1.0 (very positive),\n  \"flags\": array of detected emotions e.g. [\"stressed\", \"frustrated\", \"confused\", \"anxious\"],\n  \"escalate\": true if mood is angry OR score < 0.3, else false\n}\n\nMood rules:\n- casual: friendly, simple question, positive feedback\n- neutral: normal support request, general query\n- angry: frustrated, upset, threatening to leave, extremely stressed\n\nStudent message: {{ $json.message }}\nRespond ONLY with valid JSON. No extra text, no markdown.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1056,
        -112
      ],
      "id": "fbe1321f-6baa-4702-b8e3-e4876484e11e",
      "name": "Sentiment"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    message: $('Faq classifier parser').first().json.message,\n    topic: parsed.topic,\n    urgency: parsed.urgency,\n    summary: parsed.summary\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -336
      ],
      "id": "d4822c05-4fd9-49bd-a905-75eb90079fee",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    sentiment: parsed.sentiment,\n    mood: parsed.mood,\n    score: parsed.score,\n    flags: parsed.flags,\n    escalate: parsed.escalate\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -32
      ],
      "id": "164eabda-7058-40dc-b163-c6079cbcf81a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful student support agent for Scaler School of Technology.\nReply to the student message in a warm, professional, and empathetic tone.\nYou represent the college and should reflect its values of excellence,\ninnovation, and student success.\n\nContext about Scaler School of Technology:\n- Technology college offering BS in Technology program\n- Curriculum: DSA, Web Dev, AI/ML, System Design, Mathematics\n- Focus on placements and industry-ready education\n- Students are hardworking and ambitious\n- Support email: support@scaler.com\n- Website: scaler.com/school-of-technology\n\nInstructions:\n- Address the student's concern directly and helpfully\n- Be encouraging and supportive — students may be stressed\n- If you cannot fully resolve it, let them know the support team \n  will follow up within 24 hours\n- Keep reply to 2-3 sentences maximum\n- Sound human, warm, not robotic\n\nReturn ONLY a valid JSON object:\n{\n  \"ticket_id\": \"TKT-\" followed by a random 6 digit number,\n  \"timestamp\": current date and time in ISO format,\n  \"message\": the original student message exactly as received,\n  \"topic\": the topic passed to you,\n  \"urgency\": the urgency number passed to you,\n  \"sentiment\": the sentiment passed to you,\n  \"mood\": the mood passed to you,\n  \"escalated\": false,\n  \"priority\": one of [\"low\", \"medium\", \"high\", \"urgent\"] based on urgency,\n  \"suggested_team\": one of [\"academics-team\", \"admissions-team\", \"finance-team\", \"student-affairs-team\", \"technical-team\"],\n  \"ticket_summary\": one sentence summary of the student issue,\n  \"faq_matched\": false,\n  \"faq_answer\": \"N/A\",\n  \"reply\": your reply to the student in plain conversational text,\n  \"customer_reply\": same as reply,\n  \"response_quality_score\": number 1 to 10,\n  \"quality_notes\": one sentence explaining the quality score\n}\n\nStudent message: {{ $json.message }}\nTopic: {{ $json.topic }}\nUrgency: {{ $json.urgency }}\nSentiment: {{ $json.sentiment }}\nMood: {{ $json.mood }}\nSummary: {{ $json.summary }}\nRespond ONLY with valid JSON. No extra text, no markdown.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        -544
      ],
      "id": "e023c725-23d1-4a05-b767-48c6e8b6e1d5",
      "name": "Neutral and positive"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an escalation handler agent for Scaler School of Technology's \nstudent support system.\nYour job is to create a ticket and notify the human support team via email.\nThe human support team cares deeply about student welfare and wants \ndetailed context to resolve issues quickly.\n\nContext about Scaler School of Technology:\n- Technology college offering BS in Technology program\n- Common escalation reasons: fee disputes, attendance issues, \n  exam problems, placement concerns, academic grievances\n- Support team email: support@scaler.com\n- Student affairs head handles urgent cases personally\n\nReturn ONLY a valid JSON object:\n{\n  \"ticket_id\": \"TKT-\" followed by a random 6 digit number,\n  \"timestamp\": current date and time in ISO format,\n  \"ticket_summary\": \"2-3 sentences describing the issue for the human agent\",\n  \"priority\": one of [\"low\", \"medium\", \"high\", \"urgent\"],\n  \"suggested_team\": one of [\"academics-team\", \"admissions-team\", \"finance-team\", \"student-affairs-team\", \"technical-team\"],\n  \"customer_mood\": one word describing the student's emotional state,\n  \"recommended_action\": \"one sentence on what the support team should do first\",\n  \"customer_reply\": \"short empathetic message to send to the student letting them know their issue is being escalated\",\n  \"response_quality_score\": number 1 to 10,\n  \"quality_notes\": \"one sentence explaining the quality score\",\n  \"email_subject\": \"Student Support Ticket [URGENT]: one line subject\",\n  \"email_body\": \"full email body to the support team explaining the student issue, mood, urgency, topic, and recommended action in detail\",\n  \"faq_matched\": false,\n  \"faq_answer\": \"N/A\"\n}\n\nStudent message: {{ $json.message }}\nTopic: {{ $json.topic }}\nUrgency: {{ $json.urgency }}\nSentiment: {{ $json.sentiment }}\nMood: {{ $json.mood }}\nRespond ONLY with valid JSON. No extra text, no markdown.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2432,
        48
      ],
      "id": "6811bfa1-896d-40dc-921f-fa417bb27a43",
      "name": "Escalation"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KZIIMd2AQvl5M8UaQpeWvCNFWMF7RzX34NQT8Bj3xOs",
          "mode": "list",
          "cachedResultName": "Scaler Faq Db",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KZIIMd2AQvl5M8UaQpeWvCNFWMF7RzX34NQT8Bj3xOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KZIIMd2AQvl5M8UaQpeWvCNFWMF7RzX34NQT8Bj3xOs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "78b1667c-9d24-4a89-aa25-ec16805cf9f2",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mluevmRHROD71VEd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "7170bfa7-47a0-49c9-b179-a50262438ca3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "UremfLUXpOnL8DHI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1040,
        -208
      ],
      "id": "3a3dec03-1f13-4571-ae3d-e9c7e5bb683f",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "UremfLUXpOnL8DHI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1056,
        64
      ],
      "id": "42d5081c-a5fb-49f7-a5fe-8758540a0660",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "UremfLUXpOnL8DHI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        928,
        432
      ],
      "id": "f95db0f5-5806-44df-961d-906ae2c019b4",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "UremfLUXpOnL8DHI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KZIIMd2AQvl5M8UaQpeWvCNFWMF7RzX34NQT8Bj3xOs",
          "mode": "list",
          "cachedResultName": "Scaler Faq Db",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KZIIMd2AQvl5M8UaQpeWvCNFWMF7RzX34NQT8Bj3xOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KZIIMd2AQvl5M8UaQpeWvCNFWMF7RzX34NQT8Bj3xOs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1136,
        400
      ],
      "id": "e6540116-3ee3-4b37-81fa-5eb930365c5c",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mluevmRHROD71VEd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d925e7cc-7897-4be6-8c3c-9cc77e0270e2",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "2b2f851b-9a22-4061-b834-84ad2c5431ae",
              "name": "topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "b4db3172-00a2-4277-81d4-842c5939f922",
              "name": "sentiment",
              "value": "={{ $json.sentiment }}",
              "type": "string"
            },
            {
              "id": "146f8202-1984-4350-8f2f-32919d8535d9",
              "name": "ticket_summary",
              "value": "={{ $json.ticket_summary }}",
              "type": "string"
            },
            {
              "id": "0f15ea43-bd0f-4e5d-9303-b7fe25029f42",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "a4b169d9-f309-4034-a8ef-207b0bcf35c7",
              "name": "suggested_team",
              "value": "={{ $json.suggested_team }}",
              "type": "string"
            },
            {
              "id": "b5ffe562-8263-4098-b13d-c74eaa06b238",
              "name": "customer_mood",
              "value": "={{ $json.customer_mood }}",
              "type": "string"
            },
            {
              "id": "51da503a-ca0c-4a23-a4ff-71b92ae2c1d4",
              "name": "customer_reply",
              "value": "={{ $json.customer_reply }}",
              "type": "string"
            },
            {
              "id": "3c109bb0-074c-47d9-8e0f-0b3c8b9ee062",
              "name": "urgency",
              "value": "={{ $json.urgency }}",
              "type": "number"
            },
            {
              "id": "55088071-35e6-484f-9f5e-c83d88783f3c",
              "name": "mood",
              "value": "={{ $json.mood }}",
              "type": "string"
            },
            {
              "id": "d982ff5a-af62-4e09-96a7-980b47534fb4",
              "name": "escalated",
              "value": "={{ $json.escalated }}",
              "type": "boolean"
            },
            {
              "id": "57c78392-bbc7-497a-b166-d7b9628c077b",
              "name": "ticket_id",
              "value": "={{ $json.ticket_id }}",
              "type": "string"
            },
            {
              "id": "7cc59613-5974-40b8-aa01-8994d622aee4",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "25443c72-0baf-49d5-85b6-a6ca48a9bffa",
              "name": "response_quality_score",
              "value": "={{ $json.response_quality_score }}",
              "type": "number"
            },
            {
              "id": "a95b08ba-2c88-4f11-809c-75bd196dd36e",
              "name": "quality_notes",
              "value": "={{ $json.quality_notes }}",
              "type": "string"
            },
            {
              "id": "23a75966-71bf-4221-aa8d-3765c7719728",
              "name": "faq_matched",
              "value": "={{ $json.faq_matched }}",
              "type": "boolean"
            },
            {
              "id": "86dcee26-3f4e-4716-8d97-250e848723f1",
              "name": "faq_answer",
              "value": "={{ $json.faq_answer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        -208
      ],
      "id": "f9322cbe-d988-4711-850f-5a5dd501d874",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a FAQ classifier agent for Scaler School of Technology's \nstudent support system.\n\nYou have access to a Google Sheets FAQ knowledge base tool.\nSearch the FAQ sheet using the student's message and decide if \nit has a direct answer.\n\nReturn ONLY a valid JSON object:\n{\n  \"query\": the original student message exactly as received,\n  \"faq_matched\": true if FAQ sheet has a clear direct answer, false otherwise\n}\n\nContext about Scaler School of Technology:\n- It is a technology-focused college offering BS in Technology program\n- Students go through a rigorous admission process (NSAT exam)\n- Curriculum includes DSA, Web Development, AI/ML, System Design\n- Students are divided into batches with instructors and TAs\n- The college focuses on placement-first education\n- Key departments: Academics, Admissions, Finance, Student Affairs\n\nRules:\n- Search the sheet FIRST before deciding\n- Only set faq_matched true if the answer DIRECTLY solves the question\n- If the question is angry, emotional, or complex set faq_matched false\n- Respond ONLY with valid JSON. No extra text.\n\nStudent message: {{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "9a43e3ce-4911-49d3-87af-04d6fed27cd2",
      "name": "Faq classifier agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    message: parsed.query,\n    faq_matched: parsed.faq_matched\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -64
      ],
      "id": "8952bf5c-b458-4607-84ab-6a682921c9cf",
      "name": "Faq classifier parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2432,
        -352
      ],
      "id": "baa0b5b1-cc3d-42ba-837a-f8ddc1b2bcb2",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "UremfLUXpOnL8DHI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2432,
        352
      ],
      "id": "24fa97ec-0e88-4381-b059-2cc8cf4a84f0",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "UremfLUXpOnL8DHI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "e25b070540@adypu.edu.in",
        "subject": "={{ $json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3488,
        -64
      ],
      "id": "202f45dc-fd89-4533-901f-e4d162cb5d6c",
      "name": "Send a message",
      "webhookId": "ca19c820-f4d9-483e-8bf3-7d2ec57acb2b",
      "credentials": {
        "gmailOAuth2": {
          "id": "hfRR88J6Y4Uh0aeP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a FAQ responder agent for Scaler School of Technology's \nstudent support system.\nYou have access to a Google Sheets FAQ knowledge base tool.\nSearch the FAQ sheet using the student query and reply directly.\n\nContext about Scaler School of Technology:\n- Technology college offering BS in Technology program\n- Students go through NSAT admission exam\n- Curriculum: DSA, Web Dev, AI/ML, System Design, Mathematics\n- Focus on placements and industry-ready education\n- Located in Bangalore, India\n\nReturn ONLY a valid JSON object:\n{\n  \"ticket_id\": \"TKT-\" followed by a random 6 digit number,\n  \"timestamp\": current date and time in ISO format,\n  \"message\": the original student message exactly as received,\n  \"topic\": classify as one of [\"academics\", \"admissions\", \"fees\", \"technical\", \"general\"],\n  \"urgency\": number 1 to 3,\n  \"sentiment\": one of [\"positive\", \"neutral\", \"negative\"],\n  \"mood\": one of [\"casual\", \"neutral\"],\n  \"escalated\": false,\n  \"priority\": one of [\"low\", \"medium\"],\n  \"suggested_team\": one of [\"academics-team\", \"admissions-team\", \"finance-team\", \"student-affairs-team\", \"technical-team\"],\n  \"ticket_summary\": one sentence summary of the student issue,\n  \"faq_answer\": the exact answer found in the FAQ sheet,\n  \"faq_matched\": true,\n  \"reply\": the FAQ answer rewritten in a warm friendly tone,\n  \"customer_reply\": same as reply,\n  \"response_quality_score\": number 1 to 10,\n  \"quality_notes\": one sentence explaining the quality score\n}\n\nStudent message: {{ $json.message }}\nRespond ONLY with valid JSON. No extra text, no markdown.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        208
      ],
      "id": "6b63a6c7-9588-4d2d-b5f5-6f2037ebbe50",
      "name": "FAQ Responder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2e297c98-fde0-4323-b8b5-bad5c379a23a",
              "leftValue": "={{ $json.faq_matched }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        112
      ],
      "id": "a6b408d5-f458-4f6b-9ab6-e6755856efe9",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        -256
      ],
      "id": "ac5a05e2-5b9a-4a45-a910-ec27c0e3f8be",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f1b00f2-f509-40ef-9d9d-afedd6f0bcb4",
              "leftValue": "={{ $json.escalate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2144,
        -336
      ],
      "id": "4423e17e-b072-4207-bbfc-daf48965e8fc",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    ticket_id: parsed.ticket_id,\n    timestamp: parsed.timestamp,\n    message: $('If1').first().json.message,\n    topic: $('If1').first().json.topic,\n    urgency: $('If1').first().json.urgency,\n    sentiment: $('If1').first().json.sentiment,\n    mood: $('If1').first().json.mood,\n    ticket_summary: parsed.ticket_summary,\n    priority: parsed.priority,\n    suggested_team: parsed.suggested_team,\n    customer_mood: parsed.customer_mood,\n    recommended_action: parsed.recommended_action,\n    customer_reply: parsed.customer_reply,\n    response_quality_score: parsed.response_quality_score,\n    quality_notes: parsed.quality_notes,\n    email_subject: parsed.email_subject,\n    email_body: parsed.email_body,\n    escalated: true,\n    faq_matched: parsed.faq_matched,\n    faq_answer: parsed.faq_answer\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        -64
      ],
      "id": "44b8e71e-3901-4468-85d0-bf389455f6a1",
      "name": "Escalation Parser"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    ticket_id: parsed.ticket_id,\n    timestamp: parsed.timestamp,\n    message: parsed.message,\n    topic: parsed.topic,\n    urgency: parsed.urgency,\n    sentiment: parsed.sentiment,\n    mood: parsed.mood,\n    escalated: parsed.escalated,\n    priority: parsed.priority,\n    suggested_team: parsed.suggested_team,\n    ticket_summary: parsed.ticket_summary,\n    reply: parsed.reply,\n    customer_reply: parsed.customer_reply,\n    response_quality_score: parsed.response_quality_score,\n    quality_notes: parsed.quality_notes,\n    faq_matched: parsed.faq_matched,\n    faq_answer: parsed.faq_answer\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        -656
      ],
      "id": "9f906bd8-6c2f-49b8-a47d-13fb9edf4f18",
      "name": "Neutral Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B16AalCNPov2j2dVfOxYralgCsP1ra00bmlk3qgbubU",
          "mode": "list",
          "cachedResultName": "Foai capstone Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B16AalCNPov2j2dVfOxYralgCsP1ra00bmlk3qgbubU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ticket Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B16AalCNPov2j2dVfOxYralgCsP1ra00bmlk3qgbubU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Urgency": "={{ $json.urgency }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Mood": "={{ $json.mood }}",
            "Ticket Summary": "={{ $json.ticket_summary }}",
            "Message": "={{ $json.message }}",
            "Suggested Team": "={{ $json.suggested_team }}",
            "Customer Reply": "={{ $json.customer_reply }}",
            "Escalated": "={{ $json.escalated }}",
            "Topic": "={{ $json.topic }}",
            "Priority": "={{ $json.priority }}",
            "Ticket ID": "={{ $json.ticket_id }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Response Quality Score": "={{ $json.response_quality_score }}",
            "Quality Notes": "={{ $json.quality_notes }}",
            "FAQ Matched": "={{ $json.faq_matched }}",
            "FAQ Answer": "={{ $json.faq_answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mood",
              "displayName": "Mood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escalated",
              "displayName": "Escalated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested Team",
              "displayName": "Suggested Team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket Summary",
              "displayName": "Ticket Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Reply",
              "displayName": "Customer Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Quality Score",
              "displayName": "Response Quality Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quality Notes",
              "displayName": "Quality Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FAQ Matched",
              "displayName": "FAQ Matched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FAQ Answer",
              "displayName": "FAQ Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3392,
        -464
      ],
      "id": "2ec3283a-f9bc-4b51-abd8-7158272c3aef",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mluevmRHROD71VEd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    ticket_id: parsed.ticket_id,\n    timestamp: parsed.timestamp,\n    message: parsed.message,\n    topic: parsed.topic,\n    urgency: parsed.urgency,\n    sentiment: parsed.sentiment,\n    mood: parsed.mood,\n    escalated: parsed.escalated,\n    priority: parsed.priority,\n    suggested_team: parsed.suggested_team,\n    ticket_summary: parsed.ticket_summary,\n    faq_answer: parsed.faq_answer,\n    reply: parsed.reply,\n    customer_reply: parsed.customer_reply,\n    response_quality_score: parsed.response_quality_score,\n    quality_notes: parsed.quality_notes,\n    \"faq_matched\": true,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        192
      ],
      "id": "b528b740-e540-4876-a814-4cb7c76f7c0a",
      "name": "Faq responder parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "155c6388-3ca2-439b-957a-4c2e8bbdd600",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "010009c1-0897-4e07-88bf-4b8d348374b1",
      "name": "Webhook",
      "webhookId": "155c6388-3ca2-439b-957a-4c2e8bbdd600"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3184,
        -464
      ],
      "id": "70782c68-6921-4dc4-a667-c700b0d1d34c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Classifier": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Neutral and positive": {
      "main": [
        [
          {
            "node": "Neutral Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation": {
      "main": [
        [
          {
            "node": "Escalation Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Faq classifier agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Faq classifier agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "FAQ Responder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "FAQ Responder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faq classifier agent": {
      "main": [
        [
          {
            "node": "Faq classifier parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faq classifier parser": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Neutral and positive",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Escalation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "FAQ Responder": {
      "main": [
        [
          {
            "node": "Faq responder parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "FAQ Responder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neutral and positive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Parser": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neutral Parser": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Faq responder parser": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Faq classifier agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a27da2ef-3be5-4e8c-adfb-9bd55aec4bdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "325033b8e308ec52246a3af080bd8cdd1f800718d8c44e8b3878c5f0f66e5a6e"
  },
  "id": "xVV6BVCd1KiSUjPy",
  "tags": []
}